<h1>Update</h1>
<form action="/update", method="POST">
    id : <input type="text" name="id" value="<%= lop._id %>"><br>
    LatLong: <input type="text" name="NAME" value="<%= lop.LatLong %>">  <br>
    Role: <input type="text" name="Role" value="<%= lop.Role %>" ><br>
    DefaultAccount: <input type="text" name="Role" value="<%= lop.DefaultAccount %>" ><br>
    OpenHour: <input type="text" name="OpenHour" value="<%= lop.OpenHour %>"><br>
    BankName : <input type="text" name="level" value="<%= lop.BankName %>"><br>
    BranchName : <input type="text" name="level" value="<%= lop.BranchName %>"><br>
    <button type="submit">SuaDuLieu</button>
</form>